# FTOPSIS-Class

## Passos

1. Definir o Problema
2. Construir a Matriz de Decisão Fuzz
3. Normalizar a Matriz de Decisão Fuzzy
4. Determinar a Matriz de Decisão Fuzzy Normalizada Ponderada
5. Identificar a Solução Ideal Fuzzy Positiva (FPIS) e a Solução Ideal Fuzzy Negativa (FNIS)
6. Calcular a Distância de Cada Alternativa para FPIS e FNIS
7. Calcular a Proximidade Relativa à Solução Ideal
8. Classificar as Alternativas

In [15]:
# Importando as bibliotecas
import numpy as np
import pandas as pd

from ftopsis_class import CriteriaType as ct
from ftopsis_class import FTOPSISClass as ft

- Gestão de fornecedores:
- Objetivo: avaliar fornecedores ativos e classifica-los quanto à capacidade de atender os seguintes critérios:
    - C1: Capacitação em gestão da qualidade;
    - C2: Capacidade de resolução de problemas;
    - C3: Entregas corretas;
    - C4: Saúde financeira.

In [16]:
# Váriáveis Linguísticas para avaliação alternativas
MR = np.array([0.0, 0.0, 2.5]) # Muito Ruim
R = np.array([0.0, 2.5, 5.0]) # Ruim
M = np.array([2.5, 5.0, 7.5]) # Medio
B = np.array([5.0, 7.5, 10.0]) # Bom
MB = np.array([7.5, 10.0, 10.0]) # Muito Bom

# Variáveis Linguísticas dos pesos dos critérios
NI = np.array([0.2, 0.2, 0.4]) # Nada Importante
PI = np.array([0.2, 0.4, 0.6]) # Pouco Importante
IM = np.array([0.4, 0.6, 0.8]) # Importancia Media
I = np.array([0.6, 0.8, 1.0]) # Importante
MI = np.array([0.8, 0.8, 1.0]) # Muito Importante

- Classificação em 3 níveis:
    - Preferível;
    - Aceitável;
    - Inaceitável.

In [17]:
# Avaliação das Alternativas
dados_matriz_decisao = {
    "C1": [MB, B, M, R, MR, MB,MB, R, B],  #(S1,S2,S3,S4,S5,S6,S7,S8,S9)
    "C2": [MB, B, M, R, MR, R, MR, B, MR], #(S1,S2,S3,S4,S5,S6,S7,S8,S9)
    "C3": [MB, B, M, R, MR, B, B, B, R],   #(S1,S2,S3,S4,S5,S6,S7,S8,S9)
    "C4": [MB, B, M, R, MR, MB, MB, B, MB] #(S1,S2,S3,S4,S5,S6,S7,S8,S9)
}
matriz_decisao = pd.DataFrame(dados_matriz_decisao)

dados_perfil = {
    "C1": [MB, B, R],
    "C2": [B, M, R],
    "C3": [B, M, MR],
    "C4": [MB, B, M]
}
matriz_perfil = pd.DataFrame(dados_perfil)

mapeamento_perfil = {0: 'Preferível', 1: 'Aceitável', 2: 'Inaceitável'}

# Avaliação dos Pesos dos Critérios
pesos = {"C1": [I], "C2": [IM], "C3": [IM], "C4": [I]}
pesos = pd.DataFrame(pesos)

# Avaliação dos Critérios
tipo_criterio = {
    "C1": ct.Benefit,
    "C2": ct.Benefit,
    "C3": ct.Benefit,
    "C4": ct.Benefit,
}

In [18]:
# Normalizar matriz de decisao
matriz_normalizada = ft.normalize_matrix(matriz_decisao, tipo_criterio)

matriz_normalizada

                  C1                 C2                 C3                 C4
0   [0.75, 1.0, 1.0]   [0.75, 1.0, 1.0]   [0.75, 1.0, 1.0]   [0.75, 1.0, 1.0]
1   [0.5, 0.75, 1.0]   [0.5, 0.75, 1.0]   [0.5, 0.75, 1.0]   [0.5, 0.75, 1.0]
2  [0.25, 0.5, 0.75]  [0.25, 0.5, 0.75]  [0.25, 0.5, 0.75]  [0.25, 0.5, 0.75]
3   [0.0, 0.25, 0.5]   [0.0, 0.25, 0.5]   [0.0, 0.25, 0.5]   [0.0, 0.25, 0.5]
4   [0.0, 0.0, 0.25]   [0.0, 0.0, 0.25]   [0.0, 0.0, 0.25]   [0.0, 0.0, 0.25]
5   [0.75, 1.0, 1.0]   [0.0, 0.25, 0.5]   [0.5, 0.75, 1.0]   [0.75, 1.0, 1.0]
6   [0.75, 1.0, 1.0]   [0.0, 0.0, 0.25]   [0.5, 0.75, 1.0]   [0.75, 1.0, 1.0]
7   [0.0, 0.25, 0.5]   [0.5, 0.75, 1.0]   [0.5, 0.75, 1.0]   [0.5, 0.75, 1.0]
8   [0.5, 0.75, 1.0]   [0.0, 0.0, 0.25]   [0.0, 0.25, 0.5]   [0.75, 1.0, 1.0]

In [19]:
# Ponderar matriz de perfil
matriz_ponderada = ft.weigh_matrix(matriz_normalizada, pesos)

matriz_ponderada

                  C1                C2                C3                 C4
0   [0.45, 0.8, 1.0]   [0.3, 0.6, 0.8]   [0.3, 0.6, 0.8]   [0.45, 0.8, 1.0]
1    [0.3, 0.6, 1.0]  [0.2, 0.45, 0.8]  [0.2, 0.45, 0.8]    [0.3, 0.6, 1.0]
2  [0.15, 0.4, 0.75]   [0.1, 0.3, 0.6]   [0.1, 0.3, 0.6]  [0.15, 0.4, 0.75]
3    [0.0, 0.2, 0.5]  [0.0, 0.15, 0.4]  [0.0, 0.15, 0.4]    [0.0, 0.2, 0.5]
4   [0.0, 0.0, 0.25]   [0.0, 0.0, 0.2]   [0.0, 0.0, 0.2]   [0.0, 0.0, 0.25]
5   [0.45, 0.8, 1.0]  [0.0, 0.15, 0.4]  [0.2, 0.45, 0.8]   [0.45, 0.8, 1.0]
6   [0.45, 0.8, 1.0]   [0.0, 0.0, 0.2]  [0.2, 0.45, 0.8]   [0.45, 0.8, 1.0]
7    [0.0, 0.2, 0.5]  [0.2, 0.45, 0.8]  [0.2, 0.45, 0.8]    [0.3, 0.6, 1.0]
8    [0.3, 0.6, 1.0]   [0.0, 0.0, 0.2]  [0.0, 0.15, 0.4]   [0.45, 0.8, 1.0]

In [20]:
# Arredondar numeros para 4 casas decimais
matriz_decisao_normalizada_ponderada  = ft.round_weighted_normalized_matrix(matriz_ponderada)

matriz_decisao_normalizada_ponderada

                  C1                C2                C3                 C4
0   [0.45, 0.8, 1.0]   [0.3, 0.6, 0.8]   [0.3, 0.6, 0.8]   [0.45, 0.8, 1.0]
1    [0.3, 0.6, 1.0]  [0.2, 0.45, 0.8]  [0.2, 0.45, 0.8]    [0.3, 0.6, 1.0]
2  [0.15, 0.4, 0.75]   [0.1, 0.3, 0.6]   [0.1, 0.3, 0.6]  [0.15, 0.4, 0.75]
3    [0.0, 0.2, 0.5]  [0.0, 0.15, 0.4]  [0.0, 0.15, 0.4]    [0.0, 0.2, 0.5]
4   [0.0, 0.0, 0.25]   [0.0, 0.0, 0.2]   [0.0, 0.0, 0.2]   [0.0, 0.0, 0.25]
5   [0.45, 0.8, 1.0]  [0.0, 0.15, 0.4]  [0.2, 0.45, 0.8]   [0.45, 0.8, 1.0]
6   [0.45, 0.8, 1.0]   [0.0, 0.0, 0.2]  [0.2, 0.45, 0.8]   [0.45, 0.8, 1.0]
7    [0.0, 0.2, 0.5]  [0.2, 0.45, 0.8]  [0.2, 0.45, 0.8]    [0.3, 0.6, 1.0]
8    [0.3, 0.6, 1.0]   [0.0, 0.0, 0.2]  [0.0, 0.15, 0.4]   [0.45, 0.8, 1.0]

In [21]:
# Normalizar matriz de perfil
matriz_perfil_normalizada = ft.normalize_matrix(matriz_perfil, tipo_criterio)

matriz_perfil_normalizada

                 C1                 C2                 C3                 C4
0  [0.75, 1.0, 1.0]   [0.5, 0.75, 1.0]   [0.5, 0.75, 1.0]   [0.75, 1.0, 1.0]
1  [0.5, 0.75, 1.0]  [0.25, 0.5, 0.75]  [0.25, 0.5, 0.75]   [0.5, 0.75, 1.0]
2  [0.0, 0.25, 0.5]   [0.0, 0.25, 0.5]   [0.0, 0.0, 0.25]  [0.25, 0.5, 0.75]

In [22]:
# Ponderar matriz de perfil
matriz_perfil_ponderada = ft.weigh_matrix(matriz_perfil_normalizada, pesos)

matriz_perfil_ponderada

                 C1                C2                C3                 C4
0  [0.45, 0.8, 1.0]  [0.2, 0.45, 0.8]  [0.2, 0.45, 0.8]   [0.45, 0.8, 1.0]
1   [0.3, 0.6, 1.0]   [0.1, 0.3, 0.6]   [0.1, 0.3, 0.6]    [0.3, 0.6, 1.0]
2   [0.0, 0.2, 0.5]  [0.0, 0.15, 0.4]   [0.0, 0.0, 0.2]  [0.15, 0.4, 0.75]

In [23]:
# Arredondar numeros para 4 casas decimais
matriz_perfil_normalizada_ponderada = ft.round_weighted_normalized_matrix(matriz_perfil_ponderada)

matriz_perfil_normalizada_ponderada

                 C1                C2                C3                 C4
0  [0.45, 0.8, 1.0]  [0.2, 0.45, 0.8]  [0.2, 0.45, 0.8]   [0.45, 0.8, 1.0]
1   [0.3, 0.6, 1.0]   [0.1, 0.3, 0.6]   [0.1, 0.3, 0.6]    [0.3, 0.6, 1.0]
2   [0.0, 0.2, 0.5]  [0.0, 0.15, 0.4]   [0.0, 0.0, 0.2]  [0.15, 0.4, 0.75]

In [24]:
# Calcula as soluções ideais positivas e negativas com base na matriz de perfil fornecida e no mapeamento de perfil. 
# Retorna as soluções ideais positivas e negativas.
solucao_ideal_positiva, solucao_ideal_negativa = ft.ideal_solution(matriz_perfil_normalizada_ponderada, mapeamento_perfil)

In [25]:
# Calcula as distâncias entre as alternativas e as soluções ideais positivas e negativas. 
# Retorna as distâncias positivas e negativas.
distancia_positiva, distancia_neagtiva = ft.distance_calculation(matriz_decisao_normalizada_ponderada, solucao_ideal_positiva, solucao_ideal_negativa)

In [26]:
# Calcula o coeficiente de proximidade com base nas distâncias positivas e negativas.
# Retorna o coeficiente de proximidade.
resultado = ft.proximity_coefficient(distancia_positiva, distancia_neagtiva)

In [27]:
# Definir fornecedores
fornecedores = ["Fornecedor 1", "Fornecedor 2", "Fornecedor 3", "Fornecedor 4",
                "Fornecedor 5", "Fornecedor 6", "Fornecedor 7", "Fornecedor 8", "Fornecedor 9"]

In [28]:
resultado.index=fornecedores

resultado

              Preferível  Aceitável  Inaceitável
Fornecedor 1    0.893756   0.696028     0.106244
Fornecedor 2    0.826110   0.815191     0.173890
Fornecedor 3    0.406098   0.615665     0.593902
Fornecedor 4    0.173267   0.236106     0.826733
Fornecedor 5    0.238368   0.288212     0.761632
Fornecedor 6    0.805949   0.682908     0.194051
Fornecedor 7    0.762105   0.660319     0.237895
Fornecedor 8    0.591658   0.572524     0.408342
Fornecedor 9    0.530232   0.631823     0.469768

Slides Base - https://edisciplinas.usp.br/pluginfile.php/7735317/mod_resource/content/1/Fuzzy%20TOPSIS%20Class%20SEP0506.pdf